fastapi
uvicorn
httpx
jinja2
python-multipart

duckduckgo-search
beautifulsoup4
readability-lxml

sumy
pyarabic

rapidfuzz
rank-bm25

sympy
numpy
diskcache

wikipedia
googletrans==4.0.0-rc1

psycopg2-binary
fpdf
